@import "tailwindcss";

@theme {
  --color-primary: #FFFFFF;
  --color-secondary: #00BFA6;
  --color-accent: #EBF8F6;
  --color-dark: #006D5E; /* Deep readable medical greenish blue text */
  --color-clay: #FFFFFF;
  
  --shadow-clay: inset 3px 3px 8px #d9eae6, inset -3px -3px 8px #ffffff, 6px 6px 12px #d9eae6, -6px -6px 12px #ffffff;
  --shadow-clay-hover: inset 1px 1px 4px #d9eae6, inset -1px -1px 4px #ffffff, 3px 3px 6px #d9eae6, -3px -3px 6px #ffffff;
}

@layer base {
  body {
    background-color: var(--color-clay);
    color: var(--color-dark);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
